<section class="bg">
    <div class="container adwaith home-container">
        <div class="row form-container mt-5  ">
            <div class="col-md-6 col-lg-12 justify-content-center">
                <h1 class="text-center">Add Categories</h1>
                <form action="/admin/add-categories" method="post" id="submit-form" enctype="multipart/form-data">


                    <label for="name">Category</label><br>
                    <input type="text" name="Category" class="form-control" required="required"><br>

                    
                    <button type="submit" class="btn btn-primary">submit</button>
                </form>
            </div>
        </div>
    </div>
</section>