<section class="category mt-5 m-5">
  <div class="row mt-5">
<div class="col-12 col-sm-6 col-md-3 col-lg-4 mt-5">

  <form action="/admin/editCategory?id={{category._id}}" method="post">
  <label for="category">Update Category</label><br>
      <input type="text" class="form-control  mt-2" name="category" value={{category.category}}>
      <button type="submit" class="bnt btnadd  mt-2 " >Update Category</button>
  </form>
</div>
</div>
</section>