<div class="container ">
	<div class="row text-center justify-content-center">
        <div class="col-sm-6 col-sm-offset-3">
        <br><br> <h2 style="color:#0fad00">Order Placed Success</h2>
        <div class="check"><i class="fa fa-check" aria-hidden="true"></i></div>
        
        <a href="/orders" class="btn btn-success">     View Orders      </a>
    <br><br>
        </div>
        
	</div>
</div>